In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import warnings

warnings.filterwarnings('ignore')

In [2]:
#Lets read temperature file to create the DF
file_temp = "weather_data/temperature.csv"
temp_df = pd.read_csv(file_temp, encoding="ISO-8859-1")
temp_df_city = temp_df[['datetime','Los Angeles','Chicago','Vancouver','Philadelphia','New York']]
temp_df_city_2014 = temp_df_city[temp_df_city['datetime'].str.contains('2014')]
temp_df_city
#Remove the NAN. Since we have lot of data we can just drop any values
temp_df_city_2014 = temp_df_city_2014.dropna(how="any")
temp_df_city_2014.head()

,datetime,Los Angeles,Chicago,Vancouver,Philadelphia,New York
10956,2014-01-01 00:00:00,291.95,261.98,279.870,272.47,271.94
10957,2014-01-01 01:00:00,290.41,262.11,279.770,271.87,271.74
10958,2014-01-01 02:00:00,288.09,262.30,279.640,271.28,271.39
10959,2014-01-01 03:00:00,286.85,262.43,279.260,270.62,270.59
10960,2014-01-01 04:00:00,285.76,262.15,278.255,270.27,269.84

In [3]:
temp_df_city_2014[['Year','Month','Ext']] = temp_df_city_2014['datetime'].str.split('-', expand=True)
temp_df_city_2014[['Day','Time']] = temp_df_city_2014['Ext'].str.split(' ', expand=True)
temp_df_city_2014 = temp_df_city_2014.drop(['Ext'], axis=1)
temp_df_city_2014.head()

,datetime,Los Angeles,Chicago,Vancouver,Philadelphia,New York,Year,Month,Day,Time
10956,2014-01-01 00:00:00,291.95,261.98,279.870,272.47,271.94,2014,01,01,00:00:00
10957,2014-01-01 01:00:00,290.41,262.11,279.770,271.87,271.74,2014,01,01,01:00:00
10958,2014-01-01 02:00:00,288.09,262.30,279.640,271.28,271.39,2014,01,01,02:00:00
10959,2014-01-01 03:00:00,286.85,262.43,279.260,270.62,270.59,2014,01,01,03:00:00
10960,2014-01-01 04:00:00,285.76,262.15,278.255,270.27,269.84,2014,01,01,04:00:00

In [4]:
temp_df_city_2014_month = temp_df_city_2014.groupby(['Month'])
temp_df_city_2014_month_avg = temp_df_city_2014_month.mean()
temp_df_city_2014_month_avg

       Los Angeles     Chicago   Vancouver  Philadelphia    New York
Month
01      289.392899  267.976916  278.334480    271.140188  270.939860
02      287.470863  265.583452  275.329539    271.925804  271.550149
03      288.983597  272.800641  279.227708    275.754686  275.141506
04      289.927904  282.459165  282.689951    284.172919  283.274147
05      293.188757  288.918659  287.018353    290.392627  289.974402
06      292.956958  292.775852  288.744188    295.248922  294.930084
07      296.203363  294.634353  292.307734    297.353410  297.164109
08      295.294461  295.349555  292.743675    294.833533  294.993155
09      294.769551  291.216669  289.595791    292.345905  292.413567
10      290.118959  285.292993  285.626576    286.848189  287.413063
11      284.471840  275.647699  278.875029    277.719778  278.867006
12      281.675190  274.161300  277.881060    276.465072  276.661006

In [ ]:
# temp_df_city_2015_date = temp_df_city_2015.groupby(['Month','Day'])
# temp_df_city_2015_date.mean()

In [5]:
#Lets read crime rate for Los Angeles
crime_file = "crime-Los Angeles/LA_CRIME_2010_2017.csv"
crime_LA = pd.read_csv(crime_file, encoding="us-ascii")
crime_LA_2014 = crime_LA[crime_LA['Date Occurred'].str.contains('2014')]
crime_LA_2014

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
4,42104479,01/11/2014,01/04/2014,2300,21,Topanga,2133,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329,...,NaN,IC,Invest Cont,745.0,NaN,NaN,NaN,7200 CIRRUS WY,NaN,"(34.2009, -118.6369)"
18783,140100674,03/10/2014,03/09/2014,2213,1,Central,171,350,"THEFT, PERSON",0344,...,NaN,IC,Invest Cont,350.0,NaN,NaN,NaN,1000 S FIGUEROA ST,NaN,"(34.045, -118.264)"
18844,140100809,04/21/2014,04/21/2014,15,1,Central,138,330,BURGLARY FROM VEHICLE,0344 1609 1307,...,NaN,AA,Adult Arrest,330.0,NaN,NaN,NaN,3RD,ALAMEDA,"(34.0455, -118.2381)"
18865,140100912,05/27/2014,05/27/2014,2200,1,Central,111,220,ATTEMPTED ROBBERY,0302 0355,...,HAND GUN,IC,Invest Cont,220.0,NaN,NaN,NaN,ALAMEDA,LOS ANGELES,"(34.0578, -118.2371)"
19003,140100953,06/13/2014,05/25/2014,1,1,Central,163,440,THEFT PLAIN - PETTY ($950 & UNDER),0344 1218,...,NaN,IC,Invest Cont,440.0,NaN,NaN,NaN,9TH,MAIN,"(34.042, -118.2555)"
19222,140101525,12/30/2014,12/30/2014,10,1,Central,148,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329,...,NaN,IC,Invest Cont,745.0,NaN,NaN,NaN,5TH,TOWNE,"(34.0426, -118.2412)"
19501,140104423,01/07/2014,01/07/2014,1305,1,Central,153,761,BRANDISH WEAPON,1403 0334,...,FOLDING KNIFE,IC,Invest Cont,761.0,998.0,NaN,NaN,5TH,BROADWAY,"(34.0481, -118.2507)"
19563,140104429,01/07/2014,01/07/2014,1445,1,Central,153,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),0325,...,NaN,IC,Invest Cont,442.0,NaN,NaN,NaN,5TH,BROADWAY,"(34.0481, -118.2507)"
19842,140107100,02/15/2014,02/14/2014,1201,1,Central,101,330,BURGLARY FROM VEHICLE,1609 1307 0358 0344 0346,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,EVERETT,SUNSET,"(34.069, -118.249)"
20297,140107528,02/21/2014,01/29/2014,2200,1,Central,171,354,THEFT OF IDENTITY,1822,...,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,900 W OLYMPIC BL,NaN,"(34.0454, -118.2657)"
20317,140114506,06/14/2014,06/11/2014,2100,1,Central,182,330,BURGLARY FROM VEHICLE,1609 0344,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,12TH,GRAND,"(34.0402, -118.2633)"
21094,140115013,06/22/2014,06/21/2014,2300,1,Central,162,330,BURGLARY FROM VEHICLE,1609 0344,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,8TH,HILL,"(34.0452, -118.2569)"
21350,140115014,06/22/2014,06/21/2014,1900,1,Central,138,330,BURGLARY FROM VEHICLE,0344 1307 1609,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,3RD,CENTRAL,"(34.0455, -118.2381)"
21687,140115274,06/25/2014,06/25/2014,2245,1,Central,192,900,VIOLATION OF COURT ORDER,2000,...,NaN,IC,Invest Cont,900.0,NaN,NaN,NaN,1400 S HOPE ST,NaN,"(34.0382, -118.2665)"
21903,140115554,06/29/2014,06/29/2014,1745,1,Central,153,440,THEFT PLAIN - PETTY ($950 & UNDER),0344,...,NaN,IC,Invest Cont,440.0,NaN,NaN,NaN,600 S BROADWAY,NaN,"(34.0467, -118.252)"
21944,140118484,08/08/2014,08/06/2014,1900,1,Central,176,480,BIKE - STOLEN,0344,...,NaN,IC,Invest Cont,480.0,NaN,NaN,NaN,700 S LOS ANGELES ST,NaN,"(34.0433, -118.2504)"
22061,140120477,09/02/2014,08/29/2014,1500,1,Central,111,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,500 N FIGUEROA ST,NaN,"(34.0617, -118.2469)"
22400,140120480,09/02/2014,09/02/2014,1205,1,Central,161,441,THEFT PLAIN - ATTEMPT,NaN,...,NaN,IC,Invest Cont,441.0,NaN,NaN,NaN,700 S FIGUEROA ST,NaN,"(34.0494, -118.2599)"
24515,140124366,10/29/2014,10/23/2014,1200,1,Central,138,330,BURGLARY FROM VEHICLE,0344,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,300 S SAN PEDRO ST,NaN,"(34.0473, -118.2425)"
24871,140204628,01/14/2014,01/14/2014,115,2,Rampart,251,330,BURGLARY FROM VEHICLE,1402 1609 0344,...,NaN,AA,Adult Arrest,330.0,998.0,NaN,NaN,RAMPART,WILSHIRE,"(34.0609, -118.2823)"
25171,140205185,01/24/2014,01/05/2014,1400,2,Rampart,245,310,BURGLARY,1822 0344 1602,...,NaN,IC,Invest Cont,310.0,NaN,NaN,NaN,600 S CARONDELET ST,NaN,"(34.0616, -118.2795)"
26767,140205745,02/04/2014,02/01/2014,2000,2,Rampart,204,330,BURGLARY FROM VEHICLE,1609 0344,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,SANTA MONICA,HOOVER,"(34.0909, -118.2846)"
26965,140209349,04/14/2014,04/11/2014,1200,2,Rampart,269,888,TRESPASSING,1501,...,NaN,IC,Invest Cont,888.0,NaN,NaN,NaN,1500 W 7TH ST,NaN,"(34.0531, -118.2694)"
27123,140209498,04/17/2014,04/16/2014,2330,2,Rampart,204,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,900 MALTMAN AV,NaN,"(34.0853, -118.2804)"
27854,140209499,04/17/2014,04/17/2014,1245,2,Rampart,292,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),NaN,...,NaN,IC,Invest Cont,420.0,NaN,NaN,NaN,WASHINGTON,UNION,"(34.0385, -118.2811)"
28017,140209932,04/26/2014,04/24/2014,700,2,Rampart,235,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,200 S CARONDELET ST,NaN,"(34.0674, -118.2753)"
28038,140211347,05/23/2014,05/22/2014,1930,2,Rampart,289,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,12TH ST,ALBANY,"(34.0449, -118.2731)"
28336,140212526,06/14/2014,06/14/2014,1230,2,Rampart,246,440,THEFT PLAIN - PETTY ($950 & UNDER),0344,...,NaN,IC,Invest Cont,440.0,NaN,NaN,NaN,ALVARADO,MARYLAND,"(34.0613, -118.2738)"
28377,140212553,06/15/2014,06/15/2014,130,2,Rampart,221,330,BURGLARY FROM VEHICLE,1607 0358 0344,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,BEVERLY,BERENDO,"(34.0763, -118.2942)"
28439,140212577,06/16/2014,06/16/2014,800,2,Rampart,204,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,3600 W SUNSET BL,NaN,"(34.0897, -118.2769)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1571988,141016510,10/22/2014,10/22/2014,705,10,West Valley,1033,310,BURGLARY,1609 0344 1202 0321 1414 1416,...,NaN,JO,Juv Other,310.0,NaN,NaN,NaN,19000 DELANO ST,NaN,"(34.1825, -118.547)"
1571989,141425356,10/05/2014,10/04/2014,2000,14,Pacific,1499,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0400 0342 0417 0416 0910,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,230.0,NaN,NaN,NaN,11500 AVIATION BL,NaN,"(33.9299, -118.3785)"
1571990,141518421,10/07/2014,10/07/2014,20,15,N Hollywood,1557,210,ROBBERY,1420 0315 0324 0370 1300 1403 0216 0104 0344 0431,...,MACE/PEPPER SPRAY,IC,Invest Cont,210.0,NaN,NaN,NaN,10900 MAGNOLIA BL,NaN,"(34.1649, -118.3683)"
1571991,142017189,10/01/2014,10/01/2014,2210,20,Olympic,2062,210,ROBBERY,0344 0366 0382 1402 0342 0431 0315 0324 0334 0341,...,STUN GUN,IC,Invest Cont,210.0,998.0,NaN,NaN,3300 W PICO BL,NaN,"(34.0472, -118.3157)"
1571995,150901043,06/12/2014,05/12/2014,500,9,Van Nuys,935,946,OTHER MISCELLANEOUS CRIME,NaN,...,NaN,AA,Adult Arrest,946.0,NaN,NaN,NaN,6200 SYLMAR AV,NaN,"(34.1827, -118.4465)"
1571998,151119132,10/30/2015,12/04/2014,1200,11,Northeast,1144,668,"EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)",0344,...,NaN,AO,Adult Other,668.0,NaN,NaN,NaN,3100 SILVERADO DR,NaN,"(34.1002, -118.2717)"
1572056,161016453,09/21/2016,09/01/2014,1200,10,West Valley,1015,805,PIMPING,0908 0400 0342 1501 1309,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,805.0,NaN,NaN,NaN,7300 YARMOUTH AV,NaN,"(34.203, -118.5197)"
1572091,161920290,10/19/2016,11/20/2014,1,19,Mission,1971,354,THEFT OF IDENTITY,0924 0906,...,NaN,AA,Adult Arrest,354.0,NaN,NaN,NaN,RAYEN ST,LANGDON AV,"(34.2319, -118.4698)"
1573038,170414332,08/21/2017,01/01/2014,1200,4,Hollenbeck,457,812,CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 ...,0556 0522 1251 1258,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,760.0,812.0,NaN,NaN,2500 CINCINNATI ST,NaN,"(34.0468, -118.2052)"
1573163,170414641,08/28/2017,04/01/2014,2300,4,Hollenbeck,468,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,3000 E 2ND ST,NaN,"(34.0384, -118.2022)"
1574274,170814709,08/25/2017,01/01/2014,5,8,West LA,853,354,THEFT OF IDENTITY,1822 0100,...,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,11400 SANTA MONICA BL,NaN,"(34.0459, -118.4507)"
1574632,170916427,08/31/2017,06/19/2014,2130,9,Van Nuys,984,236,INTIMATE PARTNER - AGGRAVATED ASSAULT,2000 0444,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,236.0,NaN,NaN,NaN,14600 DICKENS ST,NaN,"(34.1504, -118.4517)"
1576371,171611829,07/03/2017,07/03/2014,1200,16,Foothill,1613,860,BATTERY WITH SEXUAL CONTACT,1259 0522,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,860.0,NaN,NaN,NaN,12400 PIERCE ST,NaN,"(34.2758, -118.4052)"
1576372,171611830,07/03/2017,07/03/2014,1200,16,Foothill,1613,860,BATTERY WITH SEXUAL CONTACT,1259 0510,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,860.0,NaN,NaN,NaN,12400 PIERCE ST,NaN,"(34.2758, -118.4052)"
1577762,172115654,08/22/2017,06/01/2014,1200,21,Topanga,2114,354,THEFT OF IDENTITY,1817,...,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,7800 FARRALONE AV,NaN,"(34.2119, -118.6104)"
1577989,140222434,12/18/2014,12/18/2014,515,2,Rampart,279,345,DISHONEST EMPLOYEE - GRAND THEFT,1803 0342 0344 1236,...,NaN,AO,Adult Other,345.0,NaN,NaN,NaN,1200 W OLYMPIC BL,NaN,"(34.047, -118.2693)"
1577990,140415008,10/02/2014,10/02/2014,2300,4,Hollenbeck,455,626,INTIMATE PARTNER - SIMPLE ASSAULT,2000 1814 0319 0401,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,626.0,NaN,NaN,NaN,2100 E CESAR E CHAVEZ AV,NaN,"(34.0485, -118.2115)"
1577991,141614005,09/24/2014,08/29/2014,2000,16,Foothill,1612,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329 1300,...,NaN,IC,Invest Cont,740.0,NaN,NaN,NaN,13200 PINNEY ST,NaN,"(34.269, -118.4201)"
1577992,141718791,12/07/2014,12/07/2014,1930,17,Devonshire,1764,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),0325,...,NaN,AA,Adult Arrest,343.0,NaN,NaN,NaN,9300 TAMPA AV,NaN,"(34.2564, -118.5536)"
1577993,142114493,08/22/2014,08/22/2014,1325,21,Topanga,2189,310,BURGLARY,1402 1607,...,NaN,AA,Adult Arrest,310.0,998.0,NaN,NaN,20600 QUEDO DR,NaN,"(34.1589, -118.5815)"
1577994,150207422,03/03/2015,08/23/2014,1434,2,Rampart,245,651,DOCUMENT WORTHLESS ($200.01 & OVER),0344,...,NaN,AO,Adult Other,651.0,NaN,NaN,NaN,2500 W 6TH ST,NaN,"(34.0616, -118.2794)"
1578097,161426330,10/23/2016,02/18/2014,2200,14,Pacific,1406,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,1243 1501,...,VERBAL THREAT,AO,Adult Other,930.0,NaN,NaN,NaN,3500 MENTONE AV,NaN,"(34.0259, -118.4096)"
1579276,170410784,05/31/2017,07/01/2014,1,4,Hollenbeck,461,812,CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 ...,1251 1258 0400 0522,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,812.0,860.0,NaN,NaN,300 S PECAN ST,NaN,"(34.0453, -118.2218)"
1581988,171419798,09/02/2017,06/26/2014,1000,14,Pacific,1433,440,THEFT PLAIN - PETTY ($950 & UNDER),0344,...,NaN,IC,Invest Cont,440.0,NaN,NaN,NaN,1700 LINCOLN BL,NaN,"(0, 0)"
1582170,171420258,09/08/2017,09/07/2014,1930,14,Pacific,1468,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,745.0,NaN,NaN,NaN,11800 ALLIN ST,NaN,"(33.9924, -118.4105)"
1582628,171613855,09/02/2017,08/28/2014,1200,16,Foothill,1685,331,THEFT FROM MOTOR VEHICLE - GRAND ($400 AND OVER),0344 1300,...,NaN,IC,Invest Cont,331.0,NaN,NaN,NaN,11500 TUXFORD ST,NaN,"(34.226, -118.3831)"
1582834,171716629,08/30/2017,06/30/2014,1200,17,Devonshire,1723,354,THEFT OF IDENTITY,0923 1822 1202,...,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,10400 OKLAHOMA AV,NaN,"(34.2594, -118.5864)"
1583580,171917551,09/03/2017,03/26/2014,1200,19,Mission,1961,121,"RAPE, FORCIBLE",1259 0527 1817 0516 0556 0537,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,121.0,812.0,NaN,NaN,9200 LANGDON AV,NaN,"(34.2374, -118.4698)"
1583802,172016436,08/28/2017,08/13/2014,2000,20,Olympic,2073,624,BATTERY - SIMPLE ASSAULT,0416 0432 0446 0360 1257 2034,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,NaN,NaN,NaN,2900 W 14TH ST,NaN,"(34.0464, -118.3061)"
1584042,172016907,09/08/2017,05/02/2014,1,20,Olympic,2013,651,DOCUMENT WORTHLESS ($200.01 & OVER),0344 0913 0924 1817,...,NaN,IC,Invest Cont,651.0,NaN,NaN,NaN,100 S OXFORD AV,NaN,"(34.0737, -118.3079)"

In [6]:
crime_LA_2014[['Month','Day','Year']] = crime_LA_2014['Date Occurred'].str.split('/', expand=True)
crime_LA_2014.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location,Month,Day,Year
4,42104479,01/11/2014,01/04/2014,2300,21,Topanga,2133,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329,...,745.0,NaN,NaN,NaN,7200 CIRRUS WY,NaN,"(34.2009, -118.6369)",01,04,2014
18783,140100674,03/10/2014,03/09/2014,2213,1,Central,171,350,"THEFT, PERSON",0344,...,350.0,NaN,NaN,NaN,1000 S FIGUEROA ST,NaN,"(34.045, -118.264)",03,09,2014
18844,140100809,04/21/2014,04/21/2014,15,1,Central,138,330,BURGLARY FROM VEHICLE,0344 1609 1307,...,330.0,NaN,NaN,NaN,3RD,ALAMEDA,"(34.0455, -118.2381)",04,21,2014
18865,140100912,05/27/2014,05/27/2014,2200,1,Central,111,220,ATTEMPTED ROBBERY,0302 0355,...,220.0,NaN,NaN,NaN,ALAMEDA,LOS ANGELES,"(34.0578, -118.2371)",05,27,2014
19003,140100953,06/13/2014,05/25/2014,1,1,Central,163,440,THEFT PLAIN - PETTY ($950 & UNDER),0344 1218,...,440.0,NaN,NaN,NaN,9TH,MAIN,"(34.042, -118.2555)",05,25,2014

In [7]:
crime_LA_2014_month = crime_LA_2014.groupby('Month')
crime_LA_2014_month_count_df = crime_LA_2014_month.count()
crime_LA_2014_month_count_df

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location,Day,Year
Month,,,,,,,,,,,,,,,,,,,,,
01,15890,15890,15890,15890,15890,15890,15890,15890,15889,14248,...,15890,15890,1020,11,0,15890,2461,15890,15890,15890
02,13632,13632,13632,13632,13632,13632,13632,13632,13631,12158,...,13632,13632,840,13,2,13632,2191,13632,13632,13632
03,15532,15532,15532,15532,15532,15532,15532,15532,15530,14029,...,15532,15532,968,14,1,15532,2490,15532,15532,15532
04,15374,15374,15374,15374,15374,15374,15374,15374,15373,13857,...,15374,15374,954,12,1,15374,2518,15374,15374,15374
05,16671,16671,16671,16671,16671,16671,16671,16671,16670,15163,...,16671,16671,980,8,0,16671,2627,16671,16671,16671
06,16294,16294,16294,16294,16294,16294,16294,16294,16292,14759,...,16294,16294,967,24,0,16294,2675,16294,16294,16294
07,17165,17165,17165,17165,17165,17165,17165,17165,17164,15594,...,17165,17165,1085,21,1,17165,2842,17165,17165,17165
08,16979,16979,16979,16979,16979,16979,16979,16979,16979,15447,...,16979,16979,1054,25,1,16979,2702,16979,16979,16979
09,16697,16697,16697,16697,16697,16697,16697,16697,16697,14998,...,16697,16697,987,12,1,16697,2748,16697,16697,16697
10,17232,17232,17232,17232,17232,17232,17232,17232,17231,15332,...,17232,17232,993,19,0,17232,2907,17232,17232,17232
11,15904,15904,15904,15904,15904,15904,15904,15904,15904,14006,...,15904,15904,960,17,0,15904,2677,15904,15904,15904
12,17099,17099,17099,17099,17099,17099,17099,17099,17099,15057,...,17099,17099,1014,19,1,17099,2554,17099,17099,17099

In [8]:
temp_df_city_2014_month_avg['Crime Los Angeles'] = crime_LA_2014_month_count_df['Date Occurred']
temp_df_city_2014_month_avg

,Los Angeles,Chicago,Vancouver,Philadelphia,New York,Crime Los Angeles
Month,,,,,,
01,289.392899,267.976916,278.334480,271.140188,270.939860,15890
02,287.470863,265.583452,275.329539,271.925804,271.550149,13632
03,288.983597,272.800641,279.227708,275.754686,275.141506,15532
04,289.927904,282.459165,282.689951,284.172919,283.274147,15374
05,293.188757,288.918659,287.018353,290.392627,289.974402,16671
06,292.956958,292.775852,288.744188,295.248922,294.930084,16294
07,296.203363,294.634353,292.307734,297.353410,297.164109,17165
08,295.294461,295.349555,292.743675,294.833533,294.993155,16979
09,294.769551,291.216669,289.595791,292.345905,292.413567,16697
10,290.118959,285.292993,285.626576,286.848189,287.413063,17232
11,284.471840,275.647699,278.875029,277.719778,278.867006,15904
12,281.675190,274.161300,277.881060,276.465072,276.661006,17099

In [9]:
#Lets read crime rate for Chicago
crime_file = "crime-Chicago/CHI_CRIME_2012_2017.csv"
crime_CHI = pd.read_csv(crime_file, encoding="us-ascii")

crime_CHI_2014 = crime_CHI[crime_CHI['Date'].str.contains('2014')]
crime_CHI_2014

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
224,56382,10512552,HZ253503,11/01/2014 09:00:00 AM,004XX E ERIE ST,1152,DECEPTIVE PRACTICE,ILLEGAL USE CASH CARD,ATM (AUTOMATIC TELLER MACHINE),False,...,42.0,8.0,11,NaN,NaN,2014,05/11/2016 03:48:18 PM,NaN,NaN,NaN
732,203994,10517063,HZ259229,12/10/2014 12:00:00 PM,063XX S KOMENSKY AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,...,13.0,65.0,11,NaN,NaN,2014,05/11/2016 03:50:55 PM,NaN,NaN,NaN
734,204778,10517120,HZ259337,01/01/2014 09:00:00 AM,035XX W LE MOYNE ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,...,26.0,23.0,11,NaN,NaN,2014,05/11/2016 03:50:55 PM,NaN,NaN,NaN
1020,269328,10518590,HZ259878,02/26/2014 10:15:00 PM,0000X E 9TH ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,...,2.0,32.0,11,NaN,NaN,2014,05/12/2016 03:50:15 PM,NaN,NaN,NaN
1028,270180,10518648,HZ260491,07/01/2014 08:00:00 AM,092XX S MANISTEE AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,...,7.0,48.0,11,NaN,NaN,2014,05/12/2016 03:50:15 PM,NaN,NaN,NaN
1054,273884,10466568,HZ205549,01/01/2014 12:00:00 AM,105XX S WABASH AVE,0266,CRIM SEXUAL ASSAULT,PREDATORY,RESIDENCE,False,...,9.0,49.0,02,NaN,NaN,2014,05/13/2016 03:51:16 PM,NaN,NaN,NaN
1076,277457,9792948,HX441974,09/24/2014 07:42:00 PM,114XX S STEWART AVE,1365,CRIMINAL TRESPASS,TO RESIDENCE,RESIDENCE PORCH/HALLWAY,False,...,34.0,49.0,26,1175674.0,1829041.0,2014,05/12/2016 03:48:29 PM,41.686253,-87.632518,"(41.686252712, -87.632517867)"
1598,356376,10518074,HZ249398,01/01/2014 12:00:00 AM,018XX S MILLARD AVE,1562,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,RESIDENCE,False,...,24.0,29.0,17,NaN,NaN,2014,05/12/2016 03:50:15 PM,NaN,NaN,NaN
1618,359956,10447991,HZ186890,07/11/2014 01:00:00 PM,022XX W CORTLAND ST,0810,THEFT,OVER $500,PAWN SHOP,True,...,32.0,22.0,06,NaN,NaN,2014,05/13/2016 03:49:34 PM,NaN,NaN,NaN
1645,368380,10518369,HZ260329,09/28/2014 12:00:00 AM,0000X E 112TH PL,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,...,9.0,49.0,11,NaN,NaN,2014,05/13/2016 03:49:34 PM,NaN,NaN,NaN
1647,370138,9746045,HX395851,08/20/2014 07:59:00 PM,046XX S KEDZIE AVE,031A,ROBBERY,ARMED: HANDGUN,SMALL RETAIL STORE,True,...,14.0,58.0,03,1155814.0,1873754.0,2014,05/13/2016 03:49:34 PM,41.809373,-87.704025,"(41.809372853, -87.704024967)"
1648,370265,9898680,HX548935,12/20/2014 03:05:00 AM,069XX N SHERIDAN RD,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,APARTMENT,True,...,49.0,1.0,02,1166730.0,1946444.0,2014,05/13/2016 03:49:34 PM,42.008613,-87.661900,"(42.008612529, -87.661899888)"
1964,446719,10519497,HZ241081,07/16/2014 12:01:00 AM,0000X N LAVERGNE AVE,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,...,28.0,25.0,20,NaN,NaN,2014,05/13/2016 03:51:16 PM,NaN,NaN,NaN
1997,450939,10520068,HZ261435,10/01/2014 03:35:00 PM,026XX W North Ave,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,...,1.0,24.0,11,NaN,NaN,2014,05/13/2016 03:51:16 PM,NaN,NaN,NaN
2002,451483,10520174,HZ261783,04/20/2014 09:00:00 AM,010XX W ROSCOE ST,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,False,...,44.0,6.0,14,NaN,NaN,2014,05/13/2016 03:51:16 PM,NaN,NaN,NaN
2006,452661,10520376,HZ262302,05/01/2014 12:00:00 PM,014XX W ELMDALE AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,...,48.0,77.0,08B,NaN,NaN,2014,05/13/2016 03:51:16 PM,NaN,NaN,NaN
2857,689690,10521774,HZ263978,09/06/2014 12:00:00 PM,019XX N CLARK ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,...,43.0,7.0,11,NaN,NaN,2014,05/14/2016 03:53:39 PM,NaN,NaN,NaN
2994,782746,10524394,HZ266853,05/01/2014 01:00:00 PM,043XX W GLADYS AVE,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,...,28.0,26.0,26,NaN,NaN,2014,05/17/2016 03:49:21 PM,NaN,NaN,NaN
3011,784770,10531615,HZ275114,08/01/2014 12:00:00 AM,068XX S WOOD ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,...,17.0,67.0,11,NaN,NaN,2014,05/23/2016 03:51:11 PM,NaN,NaN,NaN
3039,787866,10532019,HZ275663,03/01/2014 09:00:00 AM,0000X N LARAMIE AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,APARTMENT,False,...,28.0,25.0,11,NaN,NaN,2014,05/23/2016 03:51:11 PM,NaN,NaN,NaN
3054,789586,10534437,HZ277754,11/13/2014 08:00:00 AM,015XX N ARTESIAN AVE,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,APARTMENT,False,...,1.0,24.0,26,NaN,NaN,2014,05/25/2016 03:59:20 PM,NaN,NaN,NaN
3104,792011,9457970,HX110970,01/11/2014 10:00:00 AM,041XX N NATCHEZ AVE,1750,OFFENSE INVOLVING CHILDREN,CHILD ABUSE,APARTMENT,False,...,38.0,17.0,20,NaN,NaN,2014,04/15/2016 11:16:05 AM,NaN,NaN,NaN
3105,792012,9468268,HX121457,01/20/2014 03:50:00 PM,028XX N MOBILE AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,...,29.0,19.0,08B,NaN,NaN,2014,04/15/2016 11:16:05 AM,NaN,NaN,NaN
3106,792013,9500955,HX155363,02/18/2014 11:18:00 AM,005XX N HAMLIN AVE,0453,BATTERY,AGGRAVATED PO: OTHER DANG WEAP,STREET,True,...,27.0,23.0,04B,NaN,NaN,2014,04/15/2016 11:16:05 AM,NaN,NaN,NaN
3107,792017,9647828,HX298115,06/10/2014 05:20:00 PM,028XX S HOMAN AVE,0460,BATTERY,SIMPLE,OTHER,False,...,22.0,30.0,08B,NaN,NaN,2014,04/15/2016 11:16:05 AM,NaN,NaN,NaN
3108,792018,9658402,HX308556,06/17/2014 11:34:00 PM,014XX W MADISON ST,2826,OTHER OFFENSE,HARASSMENT BY ELECTRONIC MEANS,OTHER,False,...,2.0,28.0,26,NaN,NaN,2014,04/15/2016 11:16:05 AM,NaN,NaN,NaN
3109,792019,9713205,HX363385,07/28/2014 03:34:00 AM,016XX W WABANSIA AVE,041A,BATTERY,AGGRAVATED: HANDGUN,CONSTRUCTION SITE,False,...,1.0,24.0,04B,NaN,NaN,2014,04/15/2016 11:16:05 AM,NaN,NaN,NaN
3110,792020,9721949,HX372123,02/13/2014 07:00:00 PM,063XX S EBERHART AVE,1565,SEX OFFENSE,INDECENT SOLICITATION/CHILD,CHURCH/SYNAGOGUE/PLACE OF WORSHIP,False,...,20.0,42.0,17,NaN,NaN,2014,04/15/2016 11:16:05 AM,NaN,NaN,NaN
3111,792021,9731328,HX381083,08/09/2014 07:00:00 PM,080XX S ESSEX AVE,1562,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,RESIDENCE,True,...,7.0,46.0,17,NaN,NaN,2014,04/15/2016 11:16:05 AM,NaN,NaN,NaN
3112,792022,9825613,HX475653,10/20/2014 09:57:00 PM,041XX S PULASKI RD,0552,ASSAULT,AGGRAVATED PO:KNIFE/CUT INSTR,STREET,False,...,14.0,57.0,04A,NaN,NaN,2014,04/15/2016 11:16:05 AM,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1443158,6222596,9469878,HX123190,01/22/2014 12:39:00 AM,032XX S WALLACE ST,051A,ASSAULT,AGGRAVATED: HANDGUN,RESIDENCE,True,...,11.0,60.0,04A,1172823.0,1883486.0,2014,01/07/2017 03:54:00 PM,41.835720,-87.641352,"(41.83571965, -87.641351509)"
1443739,6223179,10807465,JA106201,02/01/2014 12:00:00 PM,012XX S WABASH AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,GAS STATION,False,...,2.0,33.0,11,NaN,NaN,2014,01/07/2017 03:56:13 PM,NaN,NaN,NaN
1443757,6223197,10807778,JA106308,07/11/2014 08:25:00 AM,013XX N CLEAVER ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,...,1.0,24.0,11,NaN,NaN,2014,01/07/2017 03:56:13 PM,NaN,NaN,NaN
1444488,6223929,10808233,JA107180,12/01/2014 08:00:00 AM,082XX S AVALON AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,...,8.0,45.0,11,NaN,NaN,2014,01/08/2017 03:48:20 PM,NaN,NaN,NaN
1445990,6225433,10809869,JA109196,03/01/2014 09:00:00 AM,017XX N MANGO AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,...,29.0,25.0,11,NaN,NaN,2014,01/10/2017 03:59:07 PM,NaN,NaN,NaN
1445993,6225436,10809926,JA109191,09/25/2014 08:00:00 AM,020XX W 79TH PL,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,...,18.0,71.0,11,NaN,NaN,2014,01/10/2017 03:59:07 PM,NaN,NaN,NaN
1446626,6226069,10811507,JA110665,01/10/2014 12:00:00 AM,030XX S MILLARD AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,...,22.0,30.0,11,NaN,NaN,2014,01/11/2017 03:52:20 PM,NaN,NaN,NaN
1447346,6226792,10813308,JA112718,01/01/2014 03:00:00 PM,056XX S MICHIGAN AVE,1155,DECEPTIVE PRACTICE,AGGRAVATED FINANCIAL IDENTITY THEFT,APARTMENT,False,...,20.0,40.0,11,NaN,NaN,2014,01/12/2017 03:52:48 PM,NaN,NaN,NaN
1447405,6226852,9683993,HX334612,07/07/2014 07:00:00 AM,027XX W 16TH ST,0291,CRIM SEXUAL ASSAULT,ATTEMPT NON-AGGRAVATED,APARTMENT,False,...,28.0,29.0,02,1158373.0,1891947.0,2014,01/13/2017 03:52:31 PM,41.859245,-87.694142,"(41.859244767, -87.694142402)"
1447956,6227405,10814261,JA113662,11/03/2014 09:00:00 AM,020XX W JACKSON BLVD,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,APARTMENT,False,...,2.0,28.0,11,NaN,NaN,2014,01/13/2017 03:54:40 PM,NaN,NaN,NaN
1447971,6227420,10814743,JA114214,07/15/2014 09:00:00 AM,080XX S CARPENTER ST,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,...,21.0,71.0,14,NaN,NaN,2014,01/13/2017 03:54:40 PM,NaN,NaN,NaN
1449233,6228688,10815978,JA115803,02/18/2014 12:01:00 AM,055XX N GLENWOOD AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,...,48.0,77.0,11,NaN,NaN,2014,01/15/2017 03:52:12 PM,NaN,NaN,NaN
1450153,6229608,9600628,HX250586,05/06/2014 11:49:00 AM,029XX S HAYNES CT,0610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,...,11.0,60.0,05,1168390.0,1885059.0,2014,01/17/2017 03:57:15 PM,41.840133,-87.657572,"(41.840132957, -87.657572198)"
1451443,6230898,10819081,JA119441,12/20/2014 09:00:00 AM,039XX N SHERIDAN RD,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,...,44.0,6.0,11,NaN,NaN,2014,01/18/2017 03:50:44 PM,NaN,NaN,NaN
1451447,6230902,10819100,JA119621,01/01/2014 12:00:00 AM,008XX S CENTRAL AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,...,29.0,25.0,11,NaN,NaN,2014,01/18/2017 03:50:44 PM,NaN,NaN,NaN
1451476,6230932,10819680,JA120175,04/23/2014 12:00:00 PM,011XX N CHRISTIANA AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,APARTMENT,False,...,26.0,23.0,11,NaN,NaN,2014,01/18/2017 03:50:44 PM,NaN,NaN,NaN
1452113,6231570,10819901,JA120210,08/07/2014 05:00:00 PM,067XX W GRAND AVE,1120,DECEPTIVE PRACTICE,FORGERY,OTHER,False,...,36.0,18.0,10,NaN,NaN,2014,01/19/2017 03:56:04 PM,NaN,NaN,NaN
1452129,6231586,10820068,JA120404,09/11/2014 12:00:00 PM,099XX S LONGWOOD DR,1122,DECEPTIVE PRACTICE,COUNTERFEIT CHECK,RESIDENCE,False,...,19.0,72.0,10,NaN,NaN,2014,01/19/2017 03:56:04 PM,NaN,NaN,NaN
1452135,6231592,10820152,JA120533,12/31/2014 09:00:00 AM,027XX W ROOSEVELT RD,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,...,28.0,29.0,11,NaN,NaN,2014,01/19/2017 03:56:04 PM,NaN,NaN,NaN
1452176,6231634,10820500,JA121102,01/01/2014 12:01:00 AM,049XX N WHIPPLE ST,1582,OFFENSE INVOLVING CHILDREN,CHILD PORNOGRAPHY,RESIDENCE,False,...,33.0,14.0,17,NaN,NaN,2014,01/19/2017 03:56:04 PM,NaN,NaN,NaN
1452230,6231688,9636210,HX287488,06/03/2014 12:13:00 AM,040XX W IRVING PARK RD,0610,BURGLARY,FORCIBLE ENTRY,SMALL RETAIL STORE,True,...,39.0,16.0,05,1148836.0,1926278.0,2014,01/20/2017 03:48:51 PM,41.953642,-87.728261,"(41.953641963, -87.728261077)"
1453173,6232633,9472366,HX125483,01/23/2014 09:39:00 PM,076XX N BOSWORTH AVE,0453,BATTERY,AGGRAVATED PO: OTHER DANG WEAP,STREET,False,...,49.0,1.0,04B,1164635.0,1950534.0,2014,01/21/2017 03:46:30 PM,42.019880,-87.669491,"(42.019880387, -87.669491216)"
1453771,6233236,10822797,JA123622,06/30/2014 12:00:00 PM,037XX W 64TH ST,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,RESIDENCE,False,...,13.0,65.0,17,NaN,NaN,2014,01/21/2017 03:48:36 PM,NaN,NaN,NaN
1455074,6234539,10824296,JA125623,04/01/2014 12:00:00 AM,049XX S DREXEL BLVD,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,...,4.0,39.0,11,NaN,NaN,2014,01/23/2017 03:52:03 PM,NaN,NaN,NaN
1455180,6234645,21441,HX314624,06/22/2014 07:21:00 PM,056XX S EVERETT DR,0110,HOMICIDE,FIRST DEGREE MURDER,PARK PROPERTY,True,...,5.0,41.0,01A,1189115.0,1868082.0,2014,01/24/2017 03:52:49 PM,41.793074,-87.582066,"(41.793074427, -87.582065779)"
1455181,6234646,9605684,HX255324,05/09/2014 07:18:00 PM,024XX N KOSTNER AVE,051A,ASSAULT,AGGRAVATED: HANDGUN,STREET,True,...,31.0,20.0,04A,1146645.0,1915685.0,2014,01/24/2017 03:52:49 PM,41.924616,-87.736587,"(41.924616002, -87.736586565)"
1455182,6234647,9650945,HX301261,06/13/2014 12:56:00 AM,049XX W RACE AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,True,...,37.0,25.0,08B,1143376.0,1903211.0,2014,01/24/2017 03:52:49 PM,41.890448,-87.748911,"(41.890447778, -87.748910711)"
1455845,6235310,10825773,JA127199,12/14/2014 10:00:00 AM,038XX W THOMAS ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,APARTMENT,False,...,27.0,23.0,11,NaN,NaN,2014,01/24/2017 03:55:11 PM,NaN,NaN,NaN
1456563,6236029,10826583,JA127818,07/01/2014 09:00:00 AM,023XX N MOODY AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,...,29.0,19.0,11,NaN,NaN,2014,01/25/2017 03:54:12 PM,NaN,NaN,NaN
1456569,6236035,10826625,JA127872,05/10/2014 02:00:00 PM,085XX S INGLESIDE AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,APARTMENT,False,...,8.0,44.0,11,NaN,NaN,2014,01/25/2017 03:54:12 PM,NaN,NaN,NaN

In [10]:
crime_CHI_2014[['Month','Day','Ext']] = crime_CHI_2014['Date'].str.split('/', expand=True)
crime_CHI_2014[['Year','Time']] = crime_CHI_2014['Ext'].str.split(' ', 1, expand=True)
crime_CHI_2014 = crime_CHI_2014.drop(['Ext'], axis=1)

crime_CHI_2014.head()

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Month,Day,Time
224,56382,10512552,HZ253503,11/01/2014 09:00:00 AM,004XX E ERIE ST,1152,DECEPTIVE PRACTICE,ILLEGAL USE CASH CARD,ATM (AUTOMATIC TELLER MACHINE),False,...,NaN,NaN,2014,05/11/2016 03:48:18 PM,NaN,NaN,NaN,11,01,09:00:00 AM
732,203994,10517063,HZ259229,12/10/2014 12:00:00 PM,063XX S KOMENSKY AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,...,NaN,NaN,2014,05/11/2016 03:50:55 PM,NaN,NaN,NaN,12,10,12:00:00 PM
734,204778,10517120,HZ259337,01/01/2014 09:00:00 AM,035XX W LE MOYNE ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,...,NaN,NaN,2014,05/11/2016 03:50:55 PM,NaN,NaN,NaN,01,01,09:00:00 AM
1020,269328,10518590,HZ259878,02/26/2014 10:15:00 PM,0000X E 9TH ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,...,NaN,NaN,2014,05/12/2016 03:50:15 PM,NaN,NaN,NaN,02,26,10:15:00 PM
1028,270180,10518648,HZ260491,07/01/2014 08:00:00 AM,092XX S MANISTEE AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,...,NaN,NaN,2014,05/12/2016 03:50:15 PM,NaN,NaN,NaN,07,01,08:00:00 AM

In [11]:
crime_CHI_2014_month = crime_CHI_2014.groupby('Month')
crime_CHI_2014_month_count_df = crime_CHI_2014_month.count()
crime_CHI_2014_month_count_df

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Day,Time
Month,,,,,,,,,,,,,,,,,,,,,
01,19870,19870,19870,19870,19870,19870,19870,19870,19866,19870,...,19870,19677,19677,19870,19870,19677,19677,19677,19870,19870
02,17977,17977,17977,17977,17977,17977,17977,17977,17972,17977,...,17977,17895,17895,17977,17977,17895,17895,17895,17977,17977
03,22117,22117,22117,22117,22117,22117,22117,22117,22105,22117,...,22117,22011,22011,22117,22117,22011,22011,22011,22117,22117
04,22836,22836,22836,22836,22836,22836,22836,22836,22831,22836,...,22836,22521,22521,22836,22836,22521,22521,22521,22836,22836
05,24807,24807,24807,24807,24807,24807,24807,24807,24783,24807,...,24807,24434,24434,24807,24807,24434,24434,24434,24807,24807
06,25348,25348,25348,25348,25348,25348,25348,25348,25294,25348,...,25348,24915,24915,25348,25348,24915,24915,24915,25348,25348
07,26477,26477,26477,26477,26477,26477,26477,26477,26441,26477,...,26477,26059,26059,26477,26477,26059,26059,26059,26477,26477
08,25802,25802,25802,25802,25802,25802,25802,25802,25796,25802,...,25802,25299,25299,25802,25802,25299,25299,25299,25802,25802
09,23811,23811,23811,23811,23811,23811,23811,23811,23803,23811,...,23811,23228,23228,23811,23811,23228,23228,23228,23811,23811
10,23911,23911,23911,23911,23911,23911,23911,23911,23904,23911,...,23911,23195,23195,23911,23911,23195,23195,23195,23911,23911
11,20680,20680,20680,20680,20680,20680,20680,20680,20672,20680,...,20680,20009,20009,20680,20680,20009,20009,20009,20680,20680
12,20891,20891,20891,20891,20891,20891,20891,20891,20878,20891,...,20891,20222,20222,20891,20891,20222,20222,20222,20891,20891

In [12]:
temp_df_city_2014_month_avg['Crime Chicago'] = crime_CHI_2014_month_count_df['Date']
temp_df_city_2014_month_avg

,Los Angeles,Chicago,Vancouver,Philadelphia,New York,Crime Los Angeles,Crime Chicago
Month,,,,,,,
01,289.392899,267.976916,278.334480,271.140188,270.939860,15890,19870
02,287.470863,265.583452,275.329539,271.925804,271.550149,13632,17977
03,288.983597,272.800641,279.227708,275.754686,275.141506,15532,22117
04,289.927904,282.459165,282.689951,284.172919,283.274147,15374,22836
05,293.188757,288.918659,287.018353,290.392627,289.974402,16671,24807
06,292.956958,292.775852,288.744188,295.248922,294.930084,16294,25348
07,296.203363,294.634353,292.307734,297.353410,297.164109,17165,26477
08,295.294461,295.349555,292.743675,294.833533,294.993155,16979,25802
09,294.769551,291.216669,289.595791,292.345905,292.413567,16697,23811
10,290.118959,285.292993,285.626576,286.848189,287.413063,17232,23911
11,284.471840,275.647699,278.875029,277.719778,278.867006,15904,20680
12,281.675190,274.161300,277.881060,276.465072,276.661006,17099,20891

In [13]:
#Lets read crime rate for New York
crime_file = "crime-New York/NYPD_Complaint_Data_Historic.csv"
crime_NYC = pd.read_csv(crime_file, encoding="us-ascii")
crime_NYC_2014 = crime_NYC[crime_NYC['RPT_DT'].str.contains('2014')]
crime_NYC_2014.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,...,ADDR_PCT_CD,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
424839,445769358,12/22/2014,3:00:00,12/22/2014,11:00:00,12/22/2014,341,PETIT LARCENY,321.0,"LARCENY,PETIT FROM AUTO",...,43.0,NaN,STREET,NaN,NaN,NaN,NaN,NaN,NaN,NaN
424881,137331614,12/20/2014,17:00:00,12/20/2014,18:00:00,12/20/2014,341,PETIT LARCENY,338.0,"LARCENY,PETIT FROM BUILDING,UN",...,113.0,NaN,AIRPORT TERMINAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
424944,577723165,12/13/2014,18:40:00,NaN,NaN,12/13/2014,341,PETIT LARCENY,333.0,"LARCENY,PETIT FROM STORE-SHOPL",...,44.0,INSIDE,CHAIN STORE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
424965,197050818,12/12/2014,15:15:00,12/12/2014,15:15:00,12/12/2014,105,ROBBERY,386.0,"ROBBERY,PERSONAL ELECTRONIC DEVICE",...,114.0,NaN,STREET,NaN,NaN,NaN,NaN,NaN,NaN,NaN
425363,341912923,12/12/2014,15:10:00,12/12/2014,15:25:00,12/12/2014,106,FELONY ASSAULT,109.0,"ASSAULT 2,1,UNCLASSIFIED",...,101.0,NaN,BUS (OTHER),NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
crime_NYC_2014[['Month','Day','Year']] = crime_NYC_2014['RPT_DT'].str.split('/', expand=True)
crime_NYC_2014.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,...,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,Month,Day,Year
424839,445769358,12/22/2014,3:00:00,12/22/2014,11:00:00,12/22/2014,341,PETIT LARCENY,321.0,"LARCENY,PETIT FROM AUTO",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,22,2014
424881,137331614,12/20/2014,17:00:00,12/20/2014,18:00:00,12/20/2014,341,PETIT LARCENY,338.0,"LARCENY,PETIT FROM BUILDING,UN",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,20,2014
424944,577723165,12/13/2014,18:40:00,NaN,NaN,12/13/2014,341,PETIT LARCENY,333.0,"LARCENY,PETIT FROM STORE-SHOPL",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,13,2014
424965,197050818,12/12/2014,15:15:00,12/12/2014,15:15:00,12/12/2014,105,ROBBERY,386.0,"ROBBERY,PERSONAL ELECTRONIC DEVICE",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,12,2014
425363,341912923,12/12/2014,15:10:00,12/12/2014,15:25:00,12/12/2014,106,FELONY ASSAULT,109.0,"ASSAULT 2,1,UNCLASSIFIED",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,12,2014

In [15]:
crime_NYC_2014['Month'] = crime_NYC_2014['Month'].astype(str).str.zfill(2)
crime_NYC_2014_month = crime_NYC_2014.groupby('Month')
crime_NYC_2014_month_count_df = crime_NYC_2014_month.count()
crime_NYC_2014_month_count_df

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,...,PREM_TYP_DESC,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,Day,Year
Month,,,,,,,,,,,,,,,,,,,,,
01,38884,38878,38884,31196,31209,38884,38884,38770,38851,38851,...,38743,0,2030,37516,37516,37516,37516,37516,38884,38884
02,34419,34414,34419,27456,27459,34419,34419,34331,34407,34407,...,34234,1,1817,33119,33119,33119,33119,33119,34419,34419
03,40895,40893,40895,32504,32519,40895,40895,40770,40871,40871,...,40681,0,2214,39403,39403,39403,39403,39403,40895,40895
04,40017,40016,40017,31696,31709,40017,40017,39892,39996,39996,...,39832,0,2103,38438,38438,38438,38438,38438,40017,40017
05,44254,44251,44254,35241,35263,44254,44254,44103,44231,44231,...,44057,0,2162,42460,42460,42460,42460,42460,44254,44254
06,42769,42766,42769,34060,34082,42769,42769,42638,42732,42732,...,42606,29,2110,40945,40945,40945,40945,40945,42769,42769
07,44913,44912,44913,35934,35949,44913,44913,44765,44885,44885,...,44752,709,2113,43043,43043,43043,43043,43043,44913,44913
08,44626,44621,44626,35982,35994,44626,44626,44490,44595,44595,...,44471,760,2089,42727,42727,42727,42727,42727,44626,44626
09,43329,43326,43329,34652,34673,43329,43329,43176,43296,43296,...,43124,598,1917,41549,41549,41549,41549,41549,43329,43329
10,44281,44276,44281,35502,35508,44281,44281,44132,44249,44249,...,44038,513,2007,42520,42520,42520,42520,42520,44281,44281
11,37805,37801,37805,30675,30690,37805,37805,37702,37781,37781,...,37639,187,1841,36279,36279,36279,36279,36279,37805,37805
12,35127,35126,35127,28425,28442,35127,35127,35056,35092,35092,...,34977,133,1596,33643,33643,33643,33643,33643,35127,35127

In [16]:
temp_df_city_2014_month_avg['Crime NYC'] = crime_NYC_2014_month_count_df['RPT_DT']
temp_df_city_2014_month_avg

,Los Angeles,Chicago,Vancouver,Philadelphia,New York,Crime Los Angeles,Crime Chicago,Crime NYC
Month,,,,,,,,
01,289.392899,267.976916,278.334480,271.140188,270.939860,15890,19870,38884
02,287.470863,265.583452,275.329539,271.925804,271.550149,13632,17977,34419
03,288.983597,272.800641,279.227708,275.754686,275.141506,15532,22117,40895
04,289.927904,282.459165,282.689951,284.172919,283.274147,15374,22836,40017
05,293.188757,288.918659,287.018353,290.392627,289.974402,16671,24807,44254
06,292.956958,292.775852,288.744188,295.248922,294.930084,16294,25348,42769
07,296.203363,294.634353,292.307734,297.353410,297.164109,17165,26477,44913
08,295.294461,295.349555,292.743675,294.833533,294.993155,16979,25802,44626
09,294.769551,291.216669,289.595791,292.345905,292.413567,16697,23811,43329
10,290.118959,285.292993,285.626576,286.848189,287.413063,17232,23911,44281
11,284.471840,275.647699,278.875029,277.719778,278.867006,15904,20680,37805
12,281.675190,274.161300,277.881060,276.465072,276.661006,17099,20891,35127

In [17]:
#Lets read crime rate for Philadelphia
crime_file = "crime-Philadelphia/crime.csv"
crime_PHI = pd.read_csv(crime_file, encoding="us-ascii")

crime_PHI_2014 = crime_PHI[crime_PHI['Dispatch_Date'].str.contains('2014')]
crime_PHI_2014

,Dc_Dist,Psa,Dispatch_Date_Time,Dispatch_Date,Dispatch_Time,Hour,Dc_Key,Location_Block,UCR_General,Text_General_Code,Police_Districts,Month,Lon,Lat
1171,1,1,2014-03-17 16:37:00,2014-03-17,16:37:00,16,201401011453,2500 BLOCK S CLEVELAND ST,600.0,Thefts,1.0,2014-03,-75.178018,39.920288
1172,3,2,2014-06-01 15:00:00,2014-06-01,15:00:00,15,201403030753,1500 BLOCK S 04TH ST,600.0,Thefts,3.0,2014-06,-75.151906,39.929027
1173,2,2,2014-04-09 17:40:00,2014-04-09,17:40:00,17,201402020489,6400 BLOCK OXFORD AVE,600.0,Thefts,2.0,2014-04,-75.088356,40.045561
1174,2,1,2014-09-01 10:30:00,2014-09-01,10:30:00,10,201402053143,6900 BLOCK KINDRED ST 1,600.0,Thefts,NaN,2014-09,NaN,NaN
1175,2,1,2014-06-26 14:02:00,2014-06-26,14:02:00,14,201402038356,6700 BLOCK CASTOR,2600.0,All Other Offenses,2.0,2014-06,-75.073202,40.043897
1176,6,2,2014-09-17 12:56:00,2014-09-17,12:56:00,12,201406042084,1000 BLOCK MARKET ST 140,600.0,Thefts,NaN,2014-09,NaN,NaN
1177,2,2,2014-09-21 17:46:00,2014-09-21,17:46:00,17,201402057653,RISING SUN AV/ADAMSAMS AV,600.0,Thefts,NaN,2014-09,NaN,NaN
1178,6,1,2014-07-28 16:00:00,2014-07-28,16:00:00,16,201406033204,Address Unavailable,600.0,Thefts,NaN,2014-07,NaN,NaN
1179,2,2,2014-09-16 18:15:00,2014-09-16,18:15:00,18,201402056495,6400 BLOCK OXFORD AVE,600.0,Thefts,2.0,2014-09,-75.088237,40.045524
1180,8,2,2014-08-28 17:39:00,2014-08-28,17:39:00,17,201408032712,FORDHAM RD / GRANT AV,600.0,Thefts,7.0,2014-08,-74.999009,40.064478
1181,9,2,2014-08-26 14:27:00,2014-08-26,14:27:00,14,201409033589,1900 BLOCK MARKET ST 1,600.0,Thefts,NaN,2014-08,NaN,NaN
1182,2,2,2014-02-09 00:51:00,2014-02-09,00:51:00,0,201402007605,500 BLOCK ADAMS AV,2600.0,All Other Offenses,2.0,2014-02,-75.110053,40.039123
1184,5,1,2014-08-28 21:21:00,2014-08-28,21:21:00,21,201405014535,300 BLOCK GREEN LA,1800.0,Narcotic / Drug Law Violations,NaN,2014-08,NaN,NaN
1187,19,1,2014-06-15 12:56:00,2014-06-15,12:56:00,12,201419052446,2200 BLOCK REDFIELD,400.0,Aggravated Assault No Firearm,NaN,2014-06,NaN,NaN
1190,14,3,2014-12-19 12:25:00,2014-12-19,12:25:00,12,201414098467,W CHELTEN AV / GREENE ST,600.0,Thefts,10.0,2014-12,-75.176498,40.034106
1191,15,3,2014-06-26 12:06:00,2014-06-26,12:06:00,12,201415055224,3300 BLOCK TYSON AVE,600.0,Thefts,11.0,2014-06,-75.049671,40.035390
1192,9,2,2014-06-16 10:26:00,2014-06-16,10:26:00,10,201409022247,1600 BLOCK MARKET ST 101,600.0,Thefts,NaN,2014-06,NaN,NaN
1193,6,1,2014-02-12 14:11:00,2014-02-12,14:11:00,14,201406006221,800 BLOCK N 11TH ST,200.0,Rape,5.0,2014-02,-75.154733,39.967866
1194,6,2,2014-06-20 14:31:00,2014-06-20,14:31:00,14,201406026629,1000 BLOCK MARKET ST 140,600.0,Thefts,NaN,2014-06,NaN,NaN
1195,2,2,2014-12-22 08:25:00,2014-12-22,08:25:00,8,201402077751,500 BLOCK UNRUH AVE,600.0,Thefts,2.0,2014-12,-75.090609,40.052554
1196,5,2,2014-11-16 17:59:00,2014-11-16,17:59:00,17,201405019418,100 BLOCK GREEN LN,600.0,Theft from Vehicle,4.0,2014-11,-75.227231,40.026935
1197,6,1,2014-10-08 01:16:00,2014-10-08,01:16:00,1,201406045669,400 BLOCK N 06TH ST,600.0,Theft from Vehicle,5.0,2014-10,-75.148874,39.958053
1198,9,1,2014-02-16 16:15:00,2014-02-16,16:15:00,16,201409005475,200 BLOCK S 15TH ST,600.0,Thefts,8.0,2014-02,-75.166352,39.947972
1199,9,1,2014-08-07 11:59:00,2014-08-07,11:59:00,11,201409030613,1700 BLOCK WALNUT ST,600.0,Thefts,8.0,2014-08,-75.169187,39.949996
1200,9,3,2014-07-27 11:01:00,2014-07-27,11:01:00,11,201409028846,1500 BLOCK FAIRMOUNT AVE UNT AV,600.0,Thefts,NaN,2014-07,NaN,NaN
1201,12,4,2014-11-05 14:14:00,2014-11-05,14:14:00,14,201412085085,5600 BLOCK KINGSESSING AVSSING AV,600.0,Thefts,NaN,2014-11,NaN,NaN
1202,6,1,2014-05-20 21:34:00,2014-05-20,21:34:00,21,201406021285,700 BLOCK N 02ND ST,600.0,Thefts,5.0,2014-05,-75.141097,39.961958
1204,12,3,2014-10-03 11:50:00,2014-10-03,11:50:00,11,201412075136,2400 BLOCK S 67TH STREETELMWOOD AV,1800.0,Narcotic / Drug Law Violations,NaN,2014-10,NaN,NaN
1205,12,3,2014-12-09 21:08:00,2014-12-09,21:08:00,21,201412093927,5800 BLOCK KINGSESSING AVSING AVE,2600.0,All Other Offenses,NaN,2014-12,NaN,NaN
1207,18,2,2014-04-23 19:27:00,2014-04-23,19:27:00,19,201418022487,N 5200/MARKET ST,1800.0,Narcotic / Drug Law Violations,NaN,2014-04,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2060018,19,2,2014-03-09 03:23:00,2014-03-09,03:23:00,3,201419020476,N 56TH ST / HAVERFORD AV,2600.0,All Other Offenses,15.0,2014-03,-75.231976,39.967486
2060019,19,2,2014-03-09 03:24:00,2014-03-09,03:24:00,3,201419020477,N 56TH ST / HAVERFORD AV,2600.0,All Other Offenses,15.0,2014-03,-75.231976,39.967486
2060021,39,3,2014-11-02 02:07:00,2014-11-02,02:07:00,2,201439080500,3000 BLOCK FOX ST,1400.0,Vandalism/Criminal Mischief,21.0,2014-11,-75.166589,40.000401
2060023,19,2,2014-11-02 02:05:00,2014-11-02,02:05:00,2,201419100773,N 53RD ST / MEDIA ST,2600.0,All Other Offenses,15.0,2014-11,-75.227947,39.975625
2060024,26,3,2014-03-09 03:47:00,2014-03-09,03:47:00,3,201426009557,0 BLOCK ELLEN ST,1400.0,Vandalism/Criminal Mischief,19.0,2014-03,-75.134586,39.963054
2060025,25,1,2014-03-09 04:57:00,2014-03-09,04:57:00,4,201425017228,1200 BLOCK W ERIE AVE,1400.0,Vandalism/Criminal Mischief,18.0,2014-03,-75.147893,40.008866
2060026,3,1,2014-11-02 08:19:00,2014-11-02,08:19:00,8,201403066500,700 BLOCK S 07TH ST 1,1400.0,Vandalism/Criminal Mischief,3.0,2014-11,-75.154251,39.940455
2060027,22,2,2014-11-02 05:05:00,2014-11-02,05:05:00,5,201422091362,3000 BLOCK W LEHIGH AV,1400.0,Vandalism/Criminal Mischief,16.0,2014-11,-75.180248,39.997227
2060028,22,3,2014-11-02 08:59:00,2014-11-02,08:59:00,9,201422091375,1200 BLOCK N WATTS ST,1400.0,Vandalism/Criminal Mischief,16.0,2014-11,-75.158656,39.971417
2060030,24,3,2014-03-09 08:16:00,2014-03-09,08:16:00,8,201424017954,3000 BLOCK ALMOND ST,700.0,Recovered Stolen Motor Vehicle,17.0,2014-03,-75.107580,39.983591
2060031,25,2,2014-03-09 09:28:00,2014-03-09,09:28:00,9,201425017247,4700 BLOCK WHITAKER AV,700.0,Recovered Stolen Motor Vehicle,18.0,2014-03,-75.113232,40.021261
2060032,19,2,2014-11-02 03:07:00,2014-11-02,03:07:00,3,201419100782,1400 BLOCK N 62ND ST,700.0,Recovered Stolen Motor Vehicle,15.0,2014-11,-75.243129,39.973427
2060033,15,3,2014-11-02 03:55:00,2014-11-02,03:55:00,3,201415104218,7400 BLOCK TORRESDALE AVE,700.0,Recovered Stolen Motor Vehicle,11.0,2014-11,-75.031443,40.032004
2060034,39,3,2014-11-02 05:47:00,2014-11-02,05:47:00,5,201439080513,N CHADWICK ST / W LIPPINCOTT ST,700.0,Recovered Stolen Motor Vehicle,21.0,2014-11,-75.157330,40.001311
2060035,25,4,2014-11-02 08:39:00,2014-11-02,08:39:00,8,201425092895,1200 BLOCK W WESTMORELAND ST,700.0,Recovered Stolen Motor Vehicle,18.0,2014-11,-75.148874,40.002664
2060036,12,4,2014-11-02 08:02:00,2014-11-02,08:02:00,8,201412084221,1400 BLOCK S 54TH ST,1400.0,Vandalism/Criminal Mischief,9.0,2014-11,-75.223620,39.940338
2060037,35,2,2014-03-09 09:51:00,2014-03-09,09:51:00,9,201435017995,5200 BLOCK WESTFORD RD,1400.0,Vandalism/Criminal Mischief,20.0,2014-03,-75.116243,40.029680
2060039,12,2,2014-03-09 06:24:00,2014-03-09,06:24:00,6,201412016032,7500 BLOCK LINDBERGH BLVD,600.0,Thefts,9.0,2014-03,-75.236726,39.905296
2060040,3,2,2014-03-09 09:11:00,2014-03-09,09:11:00,9,201403012005,S CHRISTOPHER COLUMBUS BLVD / PIER 70,2600.0,All Other Offenses,NaN,2014-03,NaN,NaN
2060041,3,2,2014-11-02 02:42:00,2014-11-02,02:42:00,2,201403066481,1600 BLOCK S CHRISTOPHER COLUMBUS BLVD,700.0,Motor Vehicle Theft,3.0,2014-11,-75.145077,39.927336
2060043,18,2,2014-03-09 07:07:00,2014-03-09,07:07:00,7,201418012749,5600 BLOCK CARPENTER ST,2600.0,All Other Offenses,14.0,2014-03,-75.236434,39.947592
2060044,35,2,2014-11-02 05:15:00,2014-11-02,05:15:00,5,201435090430,1300 BLOCK W ROOSEVELT BLVD,2400.0,Disorderly Conduct,20.0,2014-11,-75.147185,40.019989
2060045,15,1,2014-11-02 02:04:00,2014-11-02,02:04:00,2,201415104196,1800 BLOCK WAKELING ST,2400.0,Disorderly Conduct,11.0,2014-11,-75.076174,40.018004
2060046,17,1,2014-11-02 03:22:00,2014-11-02,03:22:00,3,201417048368,600 BLOCK S BROAD ST,1100.0,Fraud,13.0,2014-11,-75.165637,39.943654
2060047,24,1,2014-11-02 07:58:00,2014-11-02,07:58:00,7,201424096322,3300 BLOCK RAND ST,500.0,Burglary Residential,17.0,2014-11,-75.112433,39.998216
2060048,19,2,2014-03-09 08:40:00,2014-03-09,08:40:00,8,201419020511,5600 BLOCK MARKET ST,1400.0,Vandalism/Criminal Mischief,15.0,2014-03,-75.234039,39.961175
2060049,17,3,2014-03-09 03:44:00,2014-03-09,03:44:00,3,201417008619,1300 BLOCK POINT BREEZE AV,2600.0,All Other Offenses,13.0,2014-03,-75.178570,39.935568
2060050,39,2,2014-03-09 04:22:00,2014-03-09,04:22:00,4,201439015801,3800 BLOCK ARCHER ST,800.0,Other Assaults,21.0,2014-03,-75.159752,40.012183
2060051,12,3,2014-03-09 04:21:00,2014-03-09,04:21:00,4,201412016016,6600 BLOCK WOODLAND AV,2600.0,All Other Offenses,9.0,2014-03,-75.235552,39.924668
2060052,25,1,2014-03-09 03:21:00,2014-03-09,03:21:00,3,201425017216,4300 BLOCK N 08TH ST,1400.0,Vandalism/Criminal Mischief,18.0,2014-03,-75.139540,40.017977

In [18]:
crime_PHI_2014[['Year','Month','Date']] = crime_PHI_2014['Dispatch_Date'].str.split('-', expand=True)
crime_PHI_2014.head()

,Dc_Dist,Psa,Dispatch_Date_Time,Dispatch_Date,Dispatch_Time,Hour,Dc_Key,Location_Block,UCR_General,Text_General_Code,Police_Districts,Month,Lon,Lat,Year,Date
1171,1,1,2014-03-17 16:37:00,2014-03-17,16:37:00,16,201401011453,2500 BLOCK S CLEVELAND ST,600.0,Thefts,1.0,03,-75.178018,39.920288,2014,17
1172,3,2,2014-06-01 15:00:00,2014-06-01,15:00:00,15,201403030753,1500 BLOCK S 04TH ST,600.0,Thefts,3.0,06,-75.151906,39.929027,2014,01
1173,2,2,2014-04-09 17:40:00,2014-04-09,17:40:00,17,201402020489,6400 BLOCK OXFORD AVE,600.0,Thefts,2.0,04,-75.088356,40.045561,2014,09
1174,2,1,2014-09-01 10:30:00,2014-09-01,10:30:00,10,201402053143,6900 BLOCK KINDRED ST 1,600.0,Thefts,NaN,09,NaN,NaN,2014,01
1175,2,1,2014-06-26 14:02:00,2014-06-26,14:02:00,14,201402038356,6700 BLOCK CASTOR,2600.0,All Other Offenses,2.0,06,-75.073202,40.043897,2014,26

In [19]:
crime_PHI_2014_month = crime_PHI_2014.groupby('Month')
crime_PHI_2014_month_count_df = crime_PHI_2014_month.count()
crime_PHI_2014_month_count_df

,Dc_Dist,Psa,Dispatch_Date_Time,Dispatch_Date,Dispatch_Time,Hour,Dc_Key,Location_Block,UCR_General,Text_General_Code,Police_Districts,Lon,Lat,Year,Date
Month,,,,,,,,,,,,,,,
01,12316,12316,12316,12316,12316,12316,12316,12316,12316,12316,12234,12256,12256,12316,12316
02,11252,11252,11252,11252,11252,11252,11252,11252,11252,11252,11169,11181,11181,11252,11252
03,14146,14146,14146,14146,14146,14146,14146,14146,14146,14146,14045,14062,14062,14146,14146
04,15832,15832,15832,15832,15832,15832,15832,15832,15832,15832,15739,15751,15751,15832,15832
05,17385,17385,17385,17385,17385,17385,17385,17385,17385,17385,17303,17303,17303,17385,17385
06,16819,16819,16819,16819,16819,16819,16819,16819,16819,16819,16718,16718,16718,16819,16819
07,18012,18012,18012,18012,18012,18012,18012,18012,18012,18012,17909,17910,17910,18012,18012
08,16813,16813,16813,16813,16813,16813,16813,16813,16813,16813,16685,16688,16688,16813,16813
09,16819,16819,16819,16819,16819,16819,16819,16819,16819,16819,16731,16732,16732,16819,16819
10,17664,17664,17664,17664,17664,17664,17664,17664,17664,17664,17564,17587,17587,17664,17664
11,14880,14880,14880,14880,14880,14880,14880,14880,14880,14880,14782,14816,14816,14880,14880
12,14208,14208,14208,14208,14208,14208,14208,14208,14208,14208,14103,14128,14128,14208,14208

In [20]:
temp_df_city_2014_month_avg['Crime Philadelphia'] = crime_PHI_2014_month_count_df['Dispatch_Date']
temp_df_city_2014_month_avg

,Los Angeles,Chicago,Vancouver,Philadelphia,New York,Crime Los Angeles,Crime Chicago,Crime NYC,Crime Philadelphia
Month,,,,,,,,,
01,289.392899,267.976916,278.334480,271.140188,270.939860,15890,19870,38884,12316
02,287.470863,265.583452,275.329539,271.925804,271.550149,13632,17977,34419,11252
03,288.983597,272.800641,279.227708,275.754686,275.141506,15532,22117,40895,14146
04,289.927904,282.459165,282.689951,284.172919,283.274147,15374,22836,40017,15832
05,293.188757,288.918659,287.018353,290.392627,289.974402,16671,24807,44254,17385
06,292.956958,292.775852,288.744188,295.248922,294.930084,16294,25348,42769,16819
07,296.203363,294.634353,292.307734,297.353410,297.164109,17165,26477,44913,18012
08,295.294461,295.349555,292.743675,294.833533,294.993155,16979,25802,44626,16813
09,294.769551,291.216669,289.595791,292.345905,292.413567,16697,23811,43329,16819
10,290.118959,285.292993,285.626576,286.848189,287.413063,17232,23911,44281,17664
11,284.471840,275.647699,278.875029,277.719778,278.867006,15904,20680,37805,14880
12,281.675190,274.161300,277.881060,276.465072,276.661006,17099,20891,35127,14208

In [21]:
#Lets read crime rate for Vancouver
crime_file = "crime-Vancouver/crime.csv"
crime_VAN = pd.read_csv(crime_file, encoding="us-ascii")
crime_VAN.head()

crime_VAN_2014 = crime_VAN.loc[crime_VAN['YEAR'] == 2014]
crime_VAN_2014

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y,Latitude,Longitude
408010,Other Theft,2014,12,6,20.0,12.0,28XX E 1ST AVE,Hastings-Sunrise,496594.71,5457399.72,49.269348,-123.046810
408011,Mischief,2014,7,16,23.0,0.0,57XX KNIGHT ST,Victoria-Fraserview,494393.67,5453306.03,49.232509,-123.077008
408012,Other Theft,2014,11,28,18.0,7.0,28XX E 1ST AVE,Hastings-Sunrise,496594.71,5457399.72,49.269348,-123.046810
408013,Other Theft,2014,11,9,13.0,27.0,28XX E 1ST AVE,Hastings-Sunrise,496594.71,5457399.72,49.269348,-123.046810
408014,Theft from Vehicle,2014,1,22,18.0,0.0,5XX HORNBY ST,Central Business District,491449.68,5459186.29,49.285369,-123.117573
408015,Theft from Vehicle,2014,2,2,17.0,30.0,5XX HORNBY ST,Central Business District,491449.68,5459186.29,49.285369,-123.117573
408016,Theft from Vehicle,2014,3,7,11.0,0.0,5XX HORNBY ST,Central Business District,491449.68,5459186.29,49.285369,-123.117573
408017,Theft from Vehicle,2014,5,14,10.0,0.0,5XX HORNBY ST,Central Business District,491449.68,5459186.29,49.285369,-123.117573
408018,Theft from Vehicle,2014,6,18,16.0,10.0,5XX HORNBY ST,Central Business District,491449.68,5459186.29,49.285369,-123.117573
408019,Theft from Vehicle,2014,7,9,16.0,0.0,5XX HORNBY ST,Central Business District,491449.68,5459186.29,49.285369,-123.117573
408020,Mischief,2014,7,10,9.0,30.0,57XX HOLLAND ST,Dunbar-Southlands,486005.48,5453564.87,49.234703,-123.192237
408021,Mischief,2014,4,3,9.0,0.0,57XX HOLLAND ST,Dunbar-Southlands,485995.94,5453512.14,49.234228,-123.192366
408022,Mischief,2014,9,5,11.0,0.0,57XX HAROLD ST,Killarney,497384.80,5453293.21,49.232413,-123.035922
408023,Mischief,2014,6,23,0.0,0.0,57XX GRANVILLE ST,Oakridge,489840.22,5453506.15,49.234250,-123.139560
408024,Other Theft,2014,10,28,18.0,39.0,28XX E 1ST AVE,Hastings-Sunrise,496594.71,5457399.72,49.269348,-123.046810
408025,Other Theft,2014,9,24,17.0,48.0,28XX E 1ST AVE,Hastings-Sunrise,496594.71,5457399.72,49.269348,-123.046810
408026,Other Theft,2014,9,22,11.0,50.0,28XX E 1ST AVE,Hastings-Sunrise,496594.71,5457399.72,49.269348,-123.046810
408027,Other Theft,2014,9,9,21.0,4.0,28XX E 1ST AVE,Hastings-Sunrise,496594.71,5457399.72,49.269348,-123.046810
408028,Other Theft,2014,9,7,22.0,8.0,28XX E 1ST AVE,Hastings-Sunrise,496594.71,5457399.72,49.269348,-123.046810
408029,Break and Enter Residential/Other,2014,10,30,10.0,27.0,15XX CYPRESS ST,Kitsilano,489242.16,5457705.84,49.272017,-123.147888
408030,Other Theft,2014,9,2,22.0,5.0,28XX E 1ST AVE,Hastings-Sunrise,496594.71,5457399.72,49.269348,-123.046810
408031,Break and Enter Residential/Other,2014,5,5,8.0,0.0,15XX COMOX ST,West End,490141.63,5459262.49,49.286034,-123.135561
408032,Break and Enter Residential/Other,2014,8,30,22.0,40.0,15XX COMOX ST,West End,490136.99,5459267.13,49.286076,-123.135625
408033,Mischief,2014,9,27,16.0,56.0,11XX E 29TH AVE,Kensington-Cedar Cottage,493999.38,5454656.70,49.244654,-123.082445
408034,Other Theft,2014,8,19,22.0,42.0,28XX E 1ST AVE,Hastings-Sunrise,496594.71,5457399.72,49.269348,-123.046810
408035,Mischief,2014,12,13,20.0,0.0,57XX BALSAM ST,Kerrisdale,488257.12,5453476.63,49.233956,-123.161305
408036,Other Theft,2014,8,4,17.0,15.0,28XX E 1ST AVE,Hastings-Sunrise,496594.71,5457399.72,49.269348,-123.046810
408037,Break and Enter Residential/Other,2014,9,2,0.0,0.0,15XX COMOX ST,West End,490125.89,5459265.30,49.286059,-123.135777
408038,Other Theft,2014,7,31,15.0,56.0,28XX E 1ST AVE,Hastings-Sunrise,496594.71,5457399.72,49.269348,-123.046810
408039,Other Theft,2014,7,10,15.0,8.0,28XX E 1ST AVE,Hastings-Sunrise,496594.71,5457399.72,49.269348,-123.046810
...,...,...,...,...,...,...,...,...,...,...,...,...
440639,Theft of Vehicle,2014,6,11,11.0,10.0,6XX VICTORIA DR,Grandview-Woodland,495233.20,5458486.90,49.279119,-123.065538
440640,Theft from Vehicle,2014,7,13,20.0,30.0,12XX ROBSON ST,West End,490758.28,5459257.09,49.285995,-123.127081
440641,Theft from Vehicle,2014,7,26,15.0,0.0,12XX ROBSON ST,West End,490758.28,5459257.09,49.285995,-123.127081
440642,Offence Against a Person,2014,12,2,NaN,NaN,OFFSET TO PROTECT PRIVACY,NaN,0.00,0.00,0.000000,0.000000
440643,Offence Against a Person,2014,10,24,NaN,NaN,OFFSET TO PROTECT PRIVACY,NaN,0.00,0.00,0.000000,0.000000
440644,Theft of Vehicle,2014,7,2,12.0,37.0,6XX W 19TH AVE,South Cambie,491261.03,5455736.02,49.254330,-123.120091
440645,Mischief,2014,9,13,22.0,48.0,11XX E 60TH AVE,Sunset,494004.68,5451415.79,49.215502,-123.082323
440646,Offence Against a Person,2014,9,16,NaN,NaN,OFFSET TO PROTECT PRIVACY,NaN,0.00,0.00,0.000000,0.000000
440647,Theft from Vehicle,2014,6,7,20.0,0.0,ALDER CRSS / LAMEYS MILL RD,Fairview,490395.89,5457106.69,49.266647,-123.132013
440648,Theft from Vehicle,2014,10,1,15.0,0.0,ALDER CRSS / LAMEYS MILL RD,Fairview,490395.89,5457106.69,49.266647,-123.132013
440649,Theft from Vehicle,2014,7,13,11.0,0.0,BEATTY ST / NELSON ST,Central Business District,491478.98,5458090.56,49.275513,-123.117146
440650,Theft from Vehicle,2014,12,26,15.0,0.0,BEATTY ST / NELSON ST,Central Business District,491478.98,5458090.56,49.275513,-123.117146
440651,Theft from Vehicle,2014,8,11,21.0,15.0,BIRCH ST / W 6TH AVE,Fairview,490278.15,5457045.39,49.266093,-123.133630
440652,Offence Against a Person,2014,8,14,NaN,NaN,OFFSET TO PROTECT PRIVACY,NaN,0.00,0.00,0.000000,0.000000
440653,Theft from Vehicle,2014,1,26,9.0,30.0,10XX LAGOON DR,Stanley Park,489317.12,5460043.10,49.293042,-123.146920
440654,Offence Against a Person,2014,1,13,NaN,NaN,OFFSET TO PROTECT PRIVACY,NaN,0.00,0.00,0.000000,0.000000
440655,Theft from Vehicle,2014,12,4,19.0,30.0,3XX E 53RD AVE,Sunset,492776.99,5452123.67,49.221856,-123.099194
440656,Theft of Vehicle,2014,4,5,11.0,0.0,6XX W 41ST AVE,Oakridge,491253.25,5453429.85,49.233586,-123.120148
440657,Break and Enter Residential/Other,2014,6,17,20.0,45.0,15XX E 10TH AVE,Kensington-Cedar Cottage,494766.41,5456512.94,49.261359,-123.071930
440658,Break and Enter Residential/Other,2014,6,4,12.0,30.0,15XX E 10TH AVE,Kensington-Cedar Cottage,494756.23,5456512.96,49.261359,-123.072070
440659,Theft of Vehicle,2014,9,7,10.0,35.0,6XX W 41ST AVE,Oakridge,491253.25,5453429.85,49.233586,-123.120148
440660,Theft of Vehicle,2014,12,4,9.0,15.0,6XX W 41ST AVE,Oakridge,491253.25,5453429.85,49.233586,-123.120148
440661,Break and Enter Residential/Other,2014,11,5,12.0,52.0,15XX E 10TH AVE,Kensington-Cedar Cottage,494705.37,5456522.23,49.261442,-123.072770
440662,Offence Against a Person,2014,8,21,NaN,NaN,OFFSET TO PROTECT PRIVACY,NaN,0.00,0.00,0.000000,0.000000
440663,Other Theft,2014,12,12,14.0,10.0,28XX E 1ST AVE,Hastings-Sunrise,496594.71,5457399.72,49.269348,-123.046810
440664,Break and Enter Residential/Other,2014,10,30,8.0,58.0,15XX DUNBAR ST,Kitsilano,486655.91,5457732.59,49.272206,-123.183441
440665,Break and Enter Residential/Other,2014,11,16,23.0,0.0,15XX DAVIE ST,West End,489981.44,5459100.59,49.284575,-123.137760
440666,Theft from Vehicle,2014,6,23,7.0,30.0,BIRCH ST / W 6TH AVE,Fairview,490278.15,5457045.39,49.266093,-123.133630
440667,Break and Enter Residential/Other,2014,8,31,1.0,45.0,15XX DAVIE ST,West End,489981.44,5459100.59,49.284575,-123.137760
440668,Break and Enter Residential/Other,2014,3,24,19.0,0.0,15XX DAVIE ST,West End,489981.44,5459100.59,49.284575,-123.137760

In [22]:
#df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})
crime_VAN_2014 = crime_VAN_2014.rename(columns={'YEAR':'Year',
                                                'MONTH':'Month',
                                               'DAY': 'Day'})
crime_VAN_2014.head()

,TYPE,Year,Month,Day,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y,Latitude,Longitude
408010,Other Theft,2014,12,6,20.0,12.0,28XX E 1ST AVE,Hastings-Sunrise,496594.71,5457399.72,49.269348,-123.046810
408011,Mischief,2014,7,16,23.0,0.0,57XX KNIGHT ST,Victoria-Fraserview,494393.67,5453306.03,49.232509,-123.077008
408012,Other Theft,2014,11,28,18.0,7.0,28XX E 1ST AVE,Hastings-Sunrise,496594.71,5457399.72,49.269348,-123.046810
408013,Other Theft,2014,11,9,13.0,27.0,28XX E 1ST AVE,Hastings-Sunrise,496594.71,5457399.72,49.269348,-123.046810
408014,Theft from Vehicle,2014,1,22,18.0,0.0,5XX HORNBY ST,Central Business District,491449.68,5459186.29,49.285369,-123.117573

In [23]:
crime_VAN_2014['Month'] = crime_VAN_2014['Month'].astype(str).str.zfill(2)
crime_VAN_2014_month = crime_VAN_2014.groupby('Month')
crime_VAN_2014_month_count_df = crime_VAN_2014_month.count()
crime_VAN_2014_month_count_df

,TYPE,Year,Day,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y,Latitude,Longitude
Month,,,,,,,,,,,
01,2461,2461,2461,2183,2183,2461,2174,2461,2461,2461,2461
02,2141,2141,2141,1904,1904,2141,1897,2141,2141,2141,2141
03,2447,2447,2447,2160,2160,2447,2156,2447,2447,2447,2447
04,2497,2497,2497,2237,2237,2497,2232,2497,2497,2497,2497
05,2803,2803,2803,2505,2505,2803,2502,2803,2803,2803,2803
06,2769,2769,2769,2465,2465,2769,2462,2769,2769,2769,2769
07,3174,3174,3174,2891,2891,3174,2886,3174,3174,3174,3174
08,3191,3191,3191,2933,2933,3191,2923,3191,3191,3191,3191
09,2985,2985,2985,2756,2756,2985,2752,2985,2985,2985,2985
10,2997,2997,2997,2748,2748,2997,2747,2997,2997,2997,2997
11,2635,2635,2635,2386,2386,2635,2381,2635,2635,2635,2635
12,2559,2559,2559,2324,2324,2559,2318,2559,2559,2559,2559

In [24]:
temp_df_city_2014_month_avg['Crime Vancouver'] = crime_VAN_2014_month_count_df['TYPE']
temp_df_city_2014_month_avg

,Los Angeles,Chicago,Vancouver,Philadelphia,New York,Crime Los Angeles,Crime Chicago,Crime NYC,Crime Philadelphia,Crime Vancouver
Month,,,,,,,,,,
01,289.392899,267.976916,278.334480,271.140188,270.939860,15890,19870,38884,12316,2461
02,287.470863,265.583452,275.329539,271.925804,271.550149,13632,17977,34419,11252,2141
03,288.983597,272.800641,279.227708,275.754686,275.141506,15532,22117,40895,14146,2447
04,289.927904,282.459165,282.689951,284.172919,283.274147,15374,22836,40017,15832,2497
05,293.188757,288.918659,287.018353,290.392627,289.974402,16671,24807,44254,17385,2803
06,292.956958,292.775852,288.744188,295.248922,294.930084,16294,25348,42769,16819,2769
07,296.203363,294.634353,292.307734,297.353410,297.164109,17165,26477,44913,18012,3174
08,295.294461,295.349555,292.743675,294.833533,294.993155,16979,25802,44626,16813,3191
09,294.769551,291.216669,289.595791,292.345905,292.413567,16697,23811,43329,16819,2985
10,290.118959,285.292993,285.626576,286.848189,287.413063,17232,23911,44281,17664,2997
11,284.471840,275.647699,278.875029,277.719778,278.867006,15904,20680,37805,14880,2635
12,281.675190,274.161300,277.881060,276.465072,276.661006,17099,20891,35127,14208,2559

In [25]:
# Write to Output File (CSV)
output_data_file = f'output_data/TempVsCrime-2014.csv'
temp_df_city_2014_month_avg.to_csv(output_data_file, index=False)